* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black; 

}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    padding: 10px 40px;
    border-bottom: 2px solid white;
}

header div img{
    display: flex;
    justify-content: center;
    margin-left: 54px;
   
}

header div nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-top: 36px;
    margin-right: 54px;
}

header div nav ul li {
    margin-left: 20px;
    color: white;
}

header div nav ul li a{
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(244, 244, 245);
    font-size: 28px;
    text-decoration: none;
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: initial;
    font-size: 22px;
    text-align: center;
    padding: 2px 200px 2px 200px ;
    color: white;
    margin: 312px auto;

}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 16px;
    color: white;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(128, 133, 132);
    padding: 10px 20px 10px 20px;
    margin-top: 212px;
    border-radius: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    width: 80%;
    margin: 272px auto;

}

#h2sobremim {
    background-color: rgb(128, 133, 132);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eu {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: rgb(240, 240, 240);
}

.conteiner {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 69px auto;
}

.tempo {
    display: flex;
    flex-direction: column;
    background-color:rgb(222, 222, 231);
    padding:30px 50px;
    width: 30%;
    border-radius: 20px;
    text-align: left;
    
}

.titulotempo {
    background-color: rgb(222, 222, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
    color: black;
}

.textotempo {
    font-size: 14px;
    text-align: left;
    color: black;
    background-color:rgb(222, 222, 231);
}


.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0px auto;
    padding: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    gap: 90px;
}

#titleSkill{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 42px;
    margin-top: 172px;
}


.projetos{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.h2Projetos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    color: white;
    margin-top: 172px;
    
}

.containerProjetos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

}

.robotica {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    background-color: rgb(150, 150, 182);
    background-image: url(imagens/Robot.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 300px;
    border-radius: 14px;
    padding: 3rem;
    gap: 13px;

}

.textorobotica{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

.discription{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 10px;
    color: rgb(240, 240, 240);
    text-align: justify;
}

.link {
    color: white;
}

footer {
    display: grid;
    background-image: url(imagens/Logo.png);
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: end;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 120px;
    margin: 58px 0 0 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.footeresquerda {
    display: grid;
    align-items: center;
    justify-items: flex-end;
    font-size: 28px;
    color: white;
    margin-left: 80px;
}

.footerdireita {
 display: grid;
    align-items: center;
    justify-items: flex-end;
    font-size: 28px;
    color:white;
    margin-right: 88px;
}